{% extends 'first_app/basic.html' %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content %}



  <body>


    <div class="container">
        <h1>Fill the Details</h1>
        <form method="POST" enctype="multipart/form-data">
             {% csrf_token %}
            {{ form | crispy  }}
            {{ formset| crispy }}
        <input type="submit" class='btn btn-primary' name="" value="Submit">
        </form>
    </div>
  </body>
</html>
{% endblock %}
