{% extends 'first_app/basic.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block css %}

{% endblock %}

{% block content %}
<div class="container-fluid">
    {% if productcat %}
    <table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Name</th>
      <th scope="col">Brand</th>
      <th scope="col">Price</th>
      <th sccope = "col"> Action</th>
    </tr>
  </thead>
  <tbody>
        {% for product in productcat %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>
                        <div>
                            <a>
                                <img src='/media/{{product.Picture}}'alt="..." style = "width:10%;">
                            </a>
                        </div>
                    </td>
                    <td>{{ product.Product_Name }}</td>
                    <td>{{ product.Brand }}</td>
                    <td>{{ product.Price }}</td>
                    <td>
                        <a href="/first_app/products_new/{{product.id}}"><button id="qv{{product.id}}" class="btn btn-primary">View</button></a>
                    </td>
                </tr>
            {% endfor %}
    </tbody>
</table>
    {% else %}
        <h3>Product not found</h3>

  {% endif %}

    </div>
</div>
{% endblock %}
